* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

.jumbotron {
    background-color: #001a33;
    border-bottom: blue solid 15px;
}

h1 {
    color: yellow;
    text-align: center;

}

p {
    color: grey;
    text-align: center;
}

.input {
    text-align: center;
}